{% extends 'core/base.html' %}
{% load static %}

{% block title %}	
    Buenos Aires Hoy - Publicaciones
{% endblock title %}

{% block content %}

  <div class="noticia">
    <!-- Page Title -->
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Noticias</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'core:home' %}">Inicio</a></li>
            <li class="current">Noticias</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                {% if noticia.imagen_portada %}
                  <div class="imagen-portada">
                    <img src="{{noticia.imagen_portada.url}}" alt="{{ noticia.titulo }}">
                  </div>
                {% endif %}

                <h2 class="title">{{ noticia.titulo }}</h2>

                <div class="meta-top">
                  <ul> 
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <p class="fecha">Publicado el: {{ noticia.fecha_publicacion|date:"d M Y" }}</p></li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  {{ noticia.contenido|linebreaks }}  <!-- Usa el filtro linebreaks para mantener los saltos de línea -->
                </div><!-- End post content -->
                {% if noticia.video %}
                  <div class="video">
                    <video controls width="100%">
                      <source src="{{ noticia.video.url }}" type="video/mp4">
                      Tu navegador no soporta la reproducción de videos.
                    </video>
                  </div>
                {% endif %}

              </article>

            </div>
          </section><!-- /Blog Details Section -->


        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Recent Posts Widget -->
            <div class="recent-posts-widget widget-item">

              <h3 class="widget-title">Publicaciones Recientes</h3>

              <div class="post-item">
                <img src="{% static 'core/assets/img/blog/blog-recent-1.jpg' %}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href="blog-details.html">Nihil blanditiis at in nihil autem</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
              </div><!-- End recent post item-->

              <div class="post-item">
                <img src="{% static 'core/assets/img/blog/blog-recent-2.jpg' %}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href="blog-details.html">Quidem autem et impedit</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
              </div><!-- End recent post item-->

              <div class="post-item">
                <img src="{% static 'core/assets/img/blog/blog-recent-3.jpg' %}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href="blog-details.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
              </div><!-- End recent post item-->

              <div class="post-item">
                <img src="{% static 'core/assets/img/blog/blog-recent-4.jpg' %}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href="blog-details.html">Laborum corporis quo dara net para</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
              </div><!-- End recent post item-->

              <div class="post-item">
                <img src="{% static 'core/assets/img/blog/blog-recent-5.jpg' %}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href="blog-details.html">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
              </div><!-- End recent post item-->

            </div><!--/Recent Posts Widget -->

            <!-- Tags Widget 
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              <ul>
                <li><a href="#">App</a></li>
                <li><a href="#">IT</a></li>
                <li><a href="#">Negocios</a></li>
                <li><a href="#">Mac</a></li>
                <li><a href="#">Diseño</a></li>
                <li><a href="#">Oficina</a></li>
                <li><a href="#">Creatividad</a></li>
                <li><a href="#">Estudio</a></li>
                <li><a href="#">Inteligencia</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>

            </div>       /Tags Widget -->

          </div>

        </div>

      </div>
    </div>
    {% if noticia.link_unico %}
    <a href="{{ noticia.link_unico }}" target="_blank">Leer más</a>
    {% endif %}
  </div>

{% endblock content %}